  <div class="container">
    <div class="titulo">
      <h1>Informações</h1>
    </div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Tipo Tecido</th>
            <th scope="col">Tipo de Saida</th>
            <th scope="col">Numero da tarefa</th>
            <th scope="col">Quantidade de Tiras?</th>
            <th scope="col">Metros Produzidos</th>
            <th scope="col">Tarefa Completa?</th>
          </tr>
        </thead>
        <tbody id="infos">
          <!-- <tr> <th scope="row">2025-08-07</td> <td>2</td> <td>0</td> <td>47</td> <td>3</td> <td>6347</td> <td>TRUE</td> </tr> -->
        </tbody>
      </table>
      <script src="/frontend/views/informacoes.js"></script>
    </div>
  </div>
